h1 {

text-align: center;




}

img {

    width: 100px;
    height: 100px;
}

.title {
    font-family: 'Bungee Inline', cursive;
    font-size: 50px;
}



.container {
    background-color: lightcyan;
}

.random {
    font-family: 'Bungee Inline', cursive;
}


